@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.7), 0 0 20px rgba(4, 230, 255, 0.7),
      0 0 10px rgba(0, 255, 247, 0.7);
  }
  50% {
    text-shadow: 0 0 20px rgb(0, 255, 234), 0 0 50px rgb(0, 255, 229),
      0 0 30px rgb(0, 255, 238);
  }
  100% {
    text-shadow: 0 0 5px rgba(0, 255, 251, 0.7), 0 0 10px rgba(0, 255, 234, 0.7),
      0 0 15px rgba(0, 255, 234, 0.7);
  }
}

.animate-glow {
  animation: glow 1.5s ease-in-out infinite;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce1 {
  animation: bounce 1.5s ease-in-out infinite;
  animation-delay: 0s; /* Nenhum atraso para o primeiro */
}

.bounce2 {
  animation: bounce 1.5s ease-in-out infinite;
  animation-delay: 0.2s; /* Atraso de 0.2s para o segundo */
}

.bounce3 {
  animation: bounce 1.5s ease-in-out infinite;
  animation-delay: 0.4s; /* Atraso de 0.4s para o terceiro */
}

.bounce4 {
  animation: bounce 1.5s ease-in-out infinite;
  animation-delay: 0.6s; /* Atraso de 0.6s para o quarto */
}
